<!DOCTYPEhtml>
<html>
<head>
  <title>All Authors In Collection</title>

</head>
  <body>
    <h1>All Authors In Collection</h1>
    <%Author.all.each_with_index do |author, i|%>
    <h3><%=i+1%>. Author: </h3><p><%= author.name%></p>
    <a href="/authors/<%=author.id%>"> Details</a>
    <%end%>
  <br></br>
  <%if logged_in?%>
  <a href="/users/<%=current_user.id%>">Back To My Profile</a>
  <%end%>
  <br></br>
  <a href="/manga">View All Manga</a>
  <br></br>
  <a href="/authors">View All Authors</a>
  <br></br>
  <a href="/genres">View All Genres</a>
  </body>
</html>
