<!DOCTYPEhtml>
<html>
<head>
  <title>Login</title>
</head>
  <body>
    <h3>Login Form</h3>
    <form method="POST" action="/login">
      <label>Email: </label><input type="text" name="user[email]">
      <br></br>
      <label>Password: </label><input type="text" name="user[password]">
      <br></br>
    <button type="submit" value="submit">Submit</button>
    </form>
  </body>
</html>
