<!DOCTYPEhtml>
<html>
<head>
  <title><%=@book.title%>, Volume <%=@book.volume%></title>
</head>
  <body>
    <h1></h1>
    <h3>Author: <%=@book.author%></h3>
    <h3> Genre: <%=@book.genre%></h3>
  </body>
</html>
