<!DOCTYPEhtml>
<html>
<head>
  <title>Manga Organizer</title>
</head>
  <body>
    <h1>Homepage</h1>
    <h3>Welcome to Manga Organizer!</h3>

    <p> It seems that you've had an error while filling out the form! Make sure you only listed one author and have filled in a title.</p>

    <a href="/manga/new">Click here to create a new manga!</a>
  </body>
</html>
