<!DOCTYPEhtml>
<html>
<head>
  <title>Manga Organizer</title>
</head>
  <body>
    <h1>Homepage</h1>
    <h3>Welcome to Manga Organizer!</h3>

    <p> It seems there's been an error deleting this manga. Please try again.</p>

    <% if @book.errors.any? %>
		  <div id="error_explanation">
		    <h2>
		      <%= pluralize(@book.errors.count, "error") %>
		      prohibited this book from being deleted:
		    </h2>
		 
		    <ul>
		    <% @book.errors.full_messages.each do |msg| %>
		      <li><%= msg %></li>
		    <% end %>
		    </ul>
		  </div>
		<% end %>

    <a href="/manga/new">Click here to create a new manga!</a>
  </body>
</html>
