<!DOCTYPEhtml>
<html>
<head>
  <title>Manga Organizer</title>
</head>
  <body>
    <h1>Homepage</h1>
    <h3>Welcome to Manga Organizer!</h3>

    <a href="/signup">Sign-Up</a>
    <br></br>
    <%if !logged_in?%>
      <a href="/login">Login</a>
    <%else%>
      <a href="/logout">Logout</a>
    <%end%>
  </body>
</html>
