<!DOCTYPEhtml>
<html>
<head>
  <title>New Manga</title>
</head>
  <body>
    <h3>Add a New Manga Title</h3>
    <form method="POST" action="/manga">
      <label>Title: </label><input type="text" name="manga[title]">
      <br></br>
      <label>Volume: </label><input type="text" name="manga[volume]">
      <br></br>
      <label>Author: </label><input type="text" name="manga[author]">
      <br></br>
      <label>Genre: </label><input type="text" name="manga[genre]">
      <br></br>
    <button type="submit" value="submit">Submit</button>
    </form>
  </body>
</html>
